snippet beamer  "Beamer" b
\documentclass{beamer}
\usepackage{ctex, hyperref}
\usepackage{calligra}
\usepackage[T1]{fontenc}

\usetheme{${1:metropolis}}
\title{${2:example}}
\date{\today}
\author{${3:Allen}}
\institute{${4:institute}}
\begin{document}
\maketitle
\section{${5:First Section}}
\begin{frame}{${6:First Frame}}
$7
\end{frame}
\end{document}
endsnippet
